<h3>2</h3>
<h4>Change Detection Strategy: {{changeDetectionStrategy === ChangeDetectionStrategy.Default ? 'Default' : 'OnPush'}}</h4>

<table>
    <thead>
        <tr>
            <th></th>
            <th>Silent Value</th>
            <th>Value</th>
            <th>Silent Signal</th>
            <th>Signal</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Display</td>
            <td>{{valueSilent}}</td>
            <td>{{valueNormal}}</td>
            <td>{{signalSilent()}}</td>
            <td>{{signalNormal()}}</td>
        </tr>
        <tr>
            <td>Update</td>
            <td><input type="checkbox" (change)="$any($event.target).checked?initValueSilent():destroyValueSilent()"></td>
            <td><input type="checkbox" (change)="$any($event.target).checked?initValueNormal():destroyValueNormal()"></td>
            <td><input type="checkbox" (change)="$any($event.target).checked?initSignalSilent():destroySignalSilent()"></td>
            <td><input type="checkbox" (change)="$any($event.target).checked?initSignalNormal():destroySignalNormal()"></td>
        </tr>
        <tr>
            <td>Bind</td>
            <td><input type="checkbox" (change)="valueSilentUnbound=!$any($event.target).checked"></td>
            <td><input type="checkbox" (change)="valueNormalUnbound=!$any($event.target).checked"></td>
            <td><input type="checkbox" (change)="signalSilentUnbound=!$any($event.target).checked"></td>
            <td><input type="checkbox" (change)="signalNormalUnbound=!$any($event.target).checked"></td>
        </tr>
        <tr>
            <td>Bound value</td>
            <td>{{valueSilentUnbound&&-1||valueSilent}}</td>
            <td>{{valueNormalUnbound&&-1||valueNormal}}</td>
            <td>{{signalSilentUnbound&&-1||signalSilent()}}</td>
            <td>{{signalNormalUnbound&&-1||signalNormal()}}</td>
        </tr>
    </tbody>
</table>

<button (click)="show(changeDetector)">Log ChangeDetector</button>

<cd-c3
    [i1]="valueSilentUnbound&&-1||valueSilent"
    [i2]="valueNormalUnbound&&-1||valueNormal"
    [i3]="signalSilentUnbound&&-1||signalSilent()"
    [i3]="signalNormalUnbound&&-1||signalNormal()"
/>
